.THIS.moenyGreenBG{
    	background-color: #85bb65;
    }

.THIS.slds-icon-standard-period {
    background-color: #85bb65;
}

.THIS#custom-tableHeader{
    width:275px;
}

.THIS#slds-page-header-margin{
    margin-top: 10px;
}